src/main/mule/loyalty-poc.xml
<mule xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="38b13c36-646c-46a5-870f-915d4060771f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="1f4a7a6d-760f-440e-b541-ca620284e70a" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="1234" database="loyalty-poc" />
	</db:config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="f90ca8ae-9a22-4016-9b79-4f00a2668da7" >
		<email:smtp-connection host="smtp.gmail.com" user="rakibulshezan97@gmail.com" password="ygnp wjfo ugcq zzeo" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="cfe9d32c-7ff8-466d-b0e4-ec696d8fc2f1" />
	<snowflake:snowflake-config name="Snowflake_Config" doc:name="Snowflake Config" doc:id="30b1307d-8612-4c16-9b3e-e8db632f4812" >
		<snowflake:keypair-connection accountName="TC09785.ap-south-1" warehouse="COMPUTE_WH" database="LOYALTY_POC" schema="TPCH_SF100" user="RSHEZAN" role="ACCOUNTADMIN" privateKeyFile="${mule.home}/apps/${app.name}/rsa_key.p8" privateKeyPassword="1234"/>
	</snowflake:snowflake-config>
	<flow name="loyalty-pocFlow1" doc:id="a9b23657-5f3f-437c-80cc-7d76e5725fe9" >
		<http:listener doc:name="Listener" doc:id="000ec719-f58f-4441-b73b-a3c1b82a7fc1" config-ref="HTTP_Listener_config" path="/get-offers"/>
		<set-variable value="#[payload.userAge]" doc:name="Set Variable - Age" doc:id="1f4cfe21-6067-496b-bbef-0c9c89d41200" variableName="userAge"/>
		<choice doc:name="Choice" doc:id="b393dbda-fee1-4265-b8d1-58f6e43813b0" >
			<when expression="#[vars.userAge &gt;= 14 and vars.userAge &lt;=22]">
				<ee:transform doc:name="Transform Message" doc:id="30eeff3a-81e5-4ca7-9c70-0b96d5a7fa3e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="segment" ><![CDATA[%dw 2.0
output application/java
---
"kid"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<when expression="#[vars.userAge &gt;= 23 and vars.userAge &lt;=50]">
				<ee:transform doc:name="Transform Message" doc:id="e00c7545-dd07-412d-83d7-e51a19d410c0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="segment" ><![CDATA[%dw 2.0
output application/java
---
"adult"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<when expression="#[vars.userAge &gt; 50]">
				<ee:transform doc:name="Transform Message" doc:id="3b71cc81-0131-4a25-87d2-42b874ff6b3a">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="segment" ><![CDATA[%dw 2.0
output application/java
---
"senior"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
		</choice>
		<snowflake:select doc:name="Select" doc:id="3aab6f5c-3ebb-4254-944f-ff8be92da215" config-ref="Snowflake_Config">
			<snowflake:sql ><![CDATA[select * from PROMOTIONS where SEGMENT =:segment]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
	"segment": vars.segment
}]]]></snowflake:input-parameters>
		</snowflake:select>
		<ee:transform doc:name="Transform Message" doc:id="ec1f76ec-ef01-4e3c-af43-e0b6a8180a6d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"statusCode": 200,
    "status": true,
    "result": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="669ea46c-0b2c-4ce3-b36d-67bbd1ea63e3" >
				<ee:transform doc:name="Transform Message" doc:id="68d7f87c-52ba-4e47-a2f4-c7561b0a23d3" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"statusCode": 400,
    "status": false
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>