src/main/mule/loyalty-poc.xml
<mule xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="38b13c36-646c-46a5-870f-915d4060771f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="1f4a7a6d-760f-440e-b541-ca620284e70a" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="1234" database="loyalty-poc" />
	</db:config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="f90ca8ae-9a22-4016-9b79-4f00a2668da7" >
		<email:smtp-connection host="smtp.gmail.com" user="rakibulshezan97@gmail.com" password="ygnp wjfo ugcq zzeo" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="cfe9d32c-7ff8-466d-b0e4-ec696d8fc2f1" />
	<snowflake:snowflake-config name="Snowflake_Config" doc:name="Snowflake Config" doc:id="30b1307d-8612-4c16-9b3e-e8db632f4812" >
		<snowflake:keypair-connection accountName="TC09785.ap-south-1" warehouse="COMPUTE_WH" database="LOYALTY_POC" schema="TPCH_SF100" user="RSHEZAN" role="ACCOUNTADMIN" privateKeyFile="${mule.home}/apps/${app.name}/rsa_key.p8" privateKeyPassword="1234"/>
	</snowflake:snowflake-config>
	<!-- [STUDIO:"loyalty-pocFlow"]<flow name="loyalty-pocFlow" doc:id="2e71c5d0-1a63-41f3-a423-7a4a2afa5b0d" >
		<scheduler doc:name="Scheduler" doc:id="8e7292e0-78f8-4abd-a885-d4530ef8d939" >
			<scheduling-strategy >
				<fixed-frequency frequency="10000"/>
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="Flow Reference" doc:id="b6a9ae63-ab56-4fb8-95e6-80aa6971f3a6" name="get-updated-time-Sub_Flow"/>
		<db:select doc:name="Select" doc:id="4d7e1ab6-e09c-4004-aec4-289cc1f03bee" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM promotions WHERE created_at > :last_poll_time;
&#93;&#93;></db:sql>
			<db:input-parameters ><![CDATA[#[{
	last_poll_time: payload
}&#93;&#93;&#93;></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="b73ec22a-dbb7-4473-8d5c-840b6d684284" >
			<when expression="#[sizeOf(payload)&gt;0&#93;">
				<ee:transform doc:name="Transform Message" doc:id="b7d4b1f4-0011-4b18-a80f-53160c42aa41">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload&#93;&#93;></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="promotionMessage"><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload&#93;&#93;></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<os:store doc:name="Store" doc:id="4d170502-0af7-4b32-abb1-0fa2963c021d" key="updatedTime" objectStore="Object_store">
			<os:value><![CDATA[#[vars.promotionMessage[0&#93;.created_at&#93;&#93;&#93;></os:value>
		</os:store>
				<db:select doc:name="Select" doc:id="bde72284-8db1-44c9-aa9f-235b486511de" config-ref="Database_Config">
			<db:sql><![CDATA[select * from users&#93;&#93;></db:sql>
		</db:select>
				<ee:transform doc:name="Transform Message" doc:id="f2fecf98-c1e3-4224-b6be-bec0ea95726d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform>
				<foreach doc:name="For Each" doc:id="57442f66-a273-4b4b-842a-7a95519df829" collection="#[payload&#93;">
			<set-variable value="#[payload&#93;" doc:name="Set Variable" doc:id="7683bcbf-2937-4d18-947b-0e5eb0ac13cf" variableName="userDetails" />
			<choice doc:name="Choice" doc:id="acf1f840-9ede-4e17-a5b8-6228bbeee9d2">
				<when expression="#[vars.userDetails.age&gt;=12 and vars.userDetails.age&lt;= 22&#93;">
					<email:send doc:name="Send" doc:id="13091fb9-b3ce-4f60-855f-04ff11f9d6f9" config-ref="Email_SMTP" fromAddress="rakibul.shezan@inceptasolutions.com" subject="#[vars.promotionMessage[0&#93;.promotion_name&#93;">
			<email:to-addresses>
				<email:to-address value="#[vars.userDetails.email&#93;" />
			</email:to-addresses>
			<email:body contentType="text/plain">
					<email:content><![CDATA[#["Hello " ++ vars.userDetails.username ++ "! " ++
"Grab the best offer during this vacation on your school"++" "++
vars.promotionMessage[0&#93;.promotion_details&#93;&#93;&#93;></email:content>
				</email:body>
		</email:send>
				</when>
				<when expression="#[vars.userDetails.age&gt;22 and vars.userDetails.age &lt;= 30&#93;">
					<email:send doc:name="Send1" doc:id="f8551d19-686f-46b7-9525-7ca829d37eb9" config-ref="Email_SMTP" fromAddress="rakibul.shezan@inceptasolutions.com" subject="#[vars.promotionMessage[0&#93;.promotion_name&#93;">
						<email:to-addresses>
							<email:to-address value="#[vars.userDetails.email&#93;" />
						</email:to-addresses>
						<email:body contentType="text/plain">
							<email:content><![CDATA[#["Hello " ++ vars.userDetails.username ++ "! " ++
"Grab the best Tech products for streamlining your day to day work!"++" "++
vars.promotionMessage[0&#93;.promotion_details&#93;&#93;&#93;></email:content>
						</email:body>
					</email:send>
				</when>
				<when expression="#[vars.userDetails.age&gt;30 and vars.userDetails.age &lt;= 40&#93;">
					<email:send doc:name="Send" doc:id="be17cba4-7ad4-47df-9b1f-7589389d589f" config-ref="Email_SMTP" fromAddress="rakibul.shezan@inceptasolutions.com" subject="#[vars.promotionMessage[0&#93;.promotion_name&#93;">
						<email:to-addresses>
							<email:to-address value="#[vars.userDetails.email&#93;" />
						</email:to-addresses>
						<email:body contentType="text/plain">
							<email:content><![CDATA[#["Hello " ++ vars.userDetails.username ++ "!" ++ " "++
"Grab the best Tech products for streamlining your day to day work!"++" "++
vars.promotionMessage[0&#93;.promotion_details&#93;&#93;&#93;></email:content>
						</email:body>
					</email:send>
				</when>
				<when expression="#[vars.userDetails.age&gt;40 and vars.userDetails.age &lt;= 55&#93;">
					<email:send doc:name="Send1" doc:id="7cb9badd-e3a8-4fb9-8948-3994f6fe35a8" config-ref="Email_SMTP" fromAddress="rakibul.shezan@inceptasolutions.com" subject="#[vars.promotionMessage[0&#93;.promotion_name&#93;">
						<email:to-addresses>
							<email:to-address value="#[vars.userDetails.email&#93;" />
						</email:to-addresses>
						<email:body contentType="text/plain">
							<email:content><![CDATA[#["Hello " ++ vars.userDetails.username ++ "! "++
"Big Discount on nutrition products!"++" "++
vars.promotionMessage[0&#93;.promotion_details&#93;&#93;&#93;></email:content>
						</email:body>
					</email:send>
				</when>
				<otherwise>
					<email:send doc:name="Send" doc:id="64011a08-6259-44ff-a59f-25b20d3e6a0a" config-ref="Email_SMTP" fromAddress="rakibul.shezan@inceptasolutions.com" subject="#[vars.promotionMessage[0&#93;.promotion_name&#93;">
						<email:to-addresses>
							<email:to-address value="#[vars.userDetails.email&#93;" />
						</email:to-addresses>
						<email:body contentType="text/plain">
							<email:content><![CDATA[#["Hello" ++ vars.userDetails.username ++ " " ++
"***BIG SALE*** going on currently !"++" "++
vars.promotionMessage[0&#93;.promotion_details&#93;&#93;&#93;></email:content>
						</email:body>
					</email:send>
				</otherwise>
			</choice>
		</foreach>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="3880da91-97db-458d-9aed-a92d376e1041" message="No New Pomotions!"/>
			</otherwise>
		</choice>
	</flow> [STUDIO] -->
	<sub-flow name="get-updated-time-Sub_Flow" doc:id="0625fba5-6eee-4346-83e5-9195ce110d22" >
		<try doc:name="Try" doc:id="716f2b05-b665-4a6a-80cd-2cbc115e5eed">
			<os:retrieve doc:name="Retrieve" doc:id="1fd4f55a-b30b-46ff-884a-955ce3925b34" key="updatedTime" objectStore="Object_store">
			</os:retrieve>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="739c6b68-0ec3-49f8-880e-89d629e14eb5" type="OS:KEY_NOT_FOUND">
					<os:store doc:name="Store" doc:id="1c6727a0-c3aa-4511-8857-cc720f3d740c" key="updatedTime" objectStore="Object_store">
						<os:value><![CDATA[2000-01-01 00:00:00]]></os:value>
					</os:store>
				</on-error-continue>
			</error-handler>
		</try>
		<os:retrieve doc:name="Retrieve" doc:id="21f3a00f-054d-4663-a41b-0461fec0a58f" key="updatedTime" objectStore="Object_store" />
	</sub-flow>
	<!-- [STUDIO:"loyalty-pocFlow2"]<flow name="loyalty-pocFlow2" doc:id="06121162-9562-4895-b497-822ab867d446" >
		<scheduler doc:name="Scheduler" doc:id="72029efd-78cd-412f-b26a-b8d46e4f0f48" >
			<scheduling-strategy >
				<fixed-frequency frequency="10000" />
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="Flow Reference" doc:id="d77ffadf-b526-4b4d-ada0-32b677a11bbb" name="get-updated-time-Sub_Flow" />
		<db:select doc:name="Select" doc:id="bd416f64-dcb9-4e33-bfe0-7cab0ae0288a" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM promotions WHERE created_at > :last_poll_time;
&#93;&#93;></db:sql>
			<db:input-parameters ><![CDATA[#[{
	last_poll_time: payload
}&#93;&#93;&#93;></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="2f29d3d2-e841-40f5-ab51-38539a4f707a" >
			<when expression="#[sizeOf(payload)&gt;0&#93;" >
				<ee:transform doc:name="Transform Message" doc:id="496e10e8-b5ed-4632-b66c-6c1d429ea6a9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload&#93;&#93;></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="promotionMessage" ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload&#93;&#93;></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<os:store doc:name="Store" doc:id="d4d3c0ad-3039-42ad-9b34-668e86eb0895" key="updatedTime" objectStore="Object_store" >
					<os:value ><![CDATA[#[vars.promotionMessage[0&#93;.created_at&#93;&#93;&#93;></os:value>
				</os:store>
				<db:select doc:name="Select" doc:id="c26384b5-2c21-4480-82c5-c925587643a3" config-ref="Database_Config" >
					<db:sql ><![CDATA[select * from users where segment =:segment&#93;&#93;></db:sql>
					<db:input-parameters ><![CDATA[#[{
	segment:vars.promotionMessage.segment
}&#93;&#93;&#93;></db:input-parameters>
				</db:select>
				<ee:transform doc:name="Transform Message" doc:id="40b08af7-dd6c-4b04-bc77-4ade0842950d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload&#93;&#93;></ee:set-payload>
					</ee:message>
				</ee:transform>
				<foreach doc:name="For Each" doc:id="31bb1693-569a-4916-b7e0-63d141093015" collection="#[payload&#93;" >
					<set-variable value="#[payload&#93;" doc:name="Set Variable" doc:id="036637f7-1d83-4c8c-a9b7-41478c58c761" variableName="userDetails" />
					<choice doc:name="Choice" doc:id="32396ec8-1c77-46f1-8231-ecfec8f2c832" >
						<when expression='#[vars.userDetails.promotion == "kid"&#93;' >
							<email:send doc:name="Send" doc:id="ee048038-9fc8-4965-97c8-44053aa2f7b9" config-ref="Email_SMTP" fromAddress="rakibul.shezan@inceptasolutions.com" subject="#[vars.promotionMessage[0&#93;.promotion_name&#93;" >
								<email:to-addresses >
									<email:to-address value="#[vars.userDetails.email&#93;" />
								</email:to-addresses>
								<email:body contentType="text/plain" >
									<email:content ><![CDATA[#["Hello " ++ vars.userDetails.username ++ "! " ++
"Grab the best offer during this vacation on your school"++" "++
vars.promotionMessage[0&#93;.promotion_details&#93;&#93;&#93;></email:content>
								</email:body>
							</email:send>
						</when>
						<when expression='#[vars.userDetails.promotion == "teen"&#93;' >
							<email:send doc:name="Send" doc:id="c2336f1b-e5d1-40f8-8c7b-5e68906cec2b" config-ref="Email_SMTP" fromAddress="rakibul.shezan@inceptasolutions.com" subject="#[vars.promotionMessage[0&#93;.promotion_name&#93;" >
								<email:to-addresses >
									<email:to-address value="#[vars.userDetails.email&#93;" />
								</email:to-addresses>
								<email:body contentType="text/plain" >
									<email:content ><![CDATA[#["Hello " ++ vars.userDetails.username ++ "! " ++
"Grab the best Tech products for streamlining your day to day work!"++" "++
vars.promotionMessage[0&#93;.promotion_details&#93;&#93;&#93;></email:content>
								</email:body>
							</email:send>
						</when>
						<when expression='#[vars.userDetails.promotion == "young_adult"&#93;' >
							<email:send doc:name="Send" doc:id="da96eb51-8234-4ea9-ade7-f503471c2164" config-ref="Email_SMTP" fromAddress="rakibul.shezan@inceptasolutions.com" subject="#[vars.promotionMessage[0&#93;.promotion_name&#93;" >
								<email:to-addresses >
									<email:to-address value="#[vars.userDetails.email&#93;" />
								</email:to-addresses>
								<email:body contentType="text/plain" >
									<email:content ><![CDATA[#["Hello " ++ vars.userDetails.username ++ "!" ++ " "++
"Grab the best Tech products for streamlining your day to day work!"++" "++
vars.promotionMessage[0&#93;.promotion_details&#93;&#93;&#93;></email:content>
								</email:body>
							</email:send>
						</when>
						<when expression='#[vars.userDetails.promotion == "senior"&#93;' >
							<email:send doc:name="Send" doc:id="f7eb8180-0589-45fd-9748-b59bd33582ed" config-ref="Email_SMTP" fromAddress="rakibul.shezan@inceptasolutions.com" subject="#[vars.promotionMessage[0&#93;.promotion_name&#93;" >
								<email:to-addresses >
									<email:to-address value="#[vars.userDetails.email&#93;" />
								</email:to-addresses>
								<email:body contentType="text/plain" >
									<email:content ><![CDATA[#["Hello " ++ vars.userDetails.username ++ "! "++
"Big Discount on nutrition products!"++" "++
vars.promotionMessage[0&#93;.promotion_details&#93;&#93;&#93;></email:content>
								</email:body>
							</email:send>
						</when>
						<otherwise >
							<email:send doc:name="Send" doc:id="5c89687f-f52a-4aa9-8d13-25460c38d850" config-ref="Email_SMTP" fromAddress="rakibul.shezan@inceptasolutions.com" subject="#[vars.promotionMessage[0&#93;.promotion_name&#93;" >
								<email:to-addresses >
									<email:to-address value="#[vars.userDetails.email&#93;" />
								</email:to-addresses>
								<email:body contentType="text/plain" >
									<email:content ><![CDATA[#["Hello" ++ vars.userDetails.username ++ " " ++
"***BIG SALE*** going on currently !"++" "++
vars.promotionMessage[0&#93;.promotion_details&#93;&#93;&#93;></email:content>
								</email:body>
							</email:send>
						</otherwise>
					</choice>
				</foreach>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="dda76ebd-b2e8-4f12-a102-47107db32193" message="No New Pomotions!" />
			</otherwise>
		</choice>
	</flow> [STUDIO] -->
	<flow name="loyalty-pocFlow1" doc:id="a9b23657-5f3f-437c-80cc-7d76e5725fe9" >
		<http:listener doc:name="Listener" doc:id="000ec719-f58f-4441-b73b-a3c1b82a7fc1" config-ref="HTTP_Listener_config" path="/get-offers"/>
		<set-variable value="#[payload.userAge]" doc:name="Set Variable - Age" doc:id="1f4cfe21-6067-496b-bbef-0c9c89d41200" variableName="userAge"/>
		<choice doc:name="Choice" doc:id="b393dbda-fee1-4265-b8d1-58f6e43813b0" >
			<when expression="#[vars.userAge &lt; 18]">
				<ee:transform doc:name="Transform Message" doc:id="30eeff3a-81e5-4ca7-9c70-0b96d5a7fa3e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="segment" ><![CDATA[%dw 2.0
output application/java
---
"kid"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<when expression="#[vars.userAge &gt;= 18 and vars.userAge &lt;=40]">
				<ee:transform doc:name="Transform Message" doc:id="e00c7545-dd07-412d-83d7-e51a19d410c0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="segment" ><![CDATA[%dw 2.0
output application/java
---
"adult"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<when expression="#[vars.userAge &gt; 40 and vars.userAge &lt;=65]">
				<ee:transform doc:name="Transform Message" doc:id="3b71cc81-0131-4a25-87d2-42b874ff6b3a">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="segment" ><![CDATA[%dw 2.0
output application/java
---
"senior"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
		</choice>
		<snowflake:select doc:name="Select" doc:id="3aab6f5c-3ebb-4254-944f-ff8be92da215" config-ref="Snowflake_Config">
			<snowflake:sql ><![CDATA[select * from PROMOTIONS where SEGMENT =:segment]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
	"segment": vars.segment
}]]]></snowflake:input-parameters>
		</snowflake:select>
		<ee:transform doc:name="Transform Message" doc:id="ec1f76ec-ef01-4e3c-af43-e0b6a8180a6d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"statusCode": 200,
    "status": true,
    "result": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="669ea46c-0b2c-4ce3-b36d-67bbd1ea63e3" >
				<ee:transform doc:name="Transform Message" doc:id="68d7f87c-52ba-4e47-a2f4-c7561b0a23d3" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"statusCode": 400,
    "status": false
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
